---
import Container from "./Container.astro";

---

  <footer id="contacto" class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
    <footer class="bg-white lg:grid lg:grid-cols-5">
        <div class="relative block h-32 lg:col-span-2 lg:h-full">
          <img
            src="./images/products/banner.jpg"
            alt=""
            class="absolute inset-0 h-full w-full object-cover"
          />
        </div>
      
        <div class="px-4 py-16 sm:px-6 lg:col-span-3 lg:px-8">
          <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
            <div>
              <p>
                <span class="text-xs uppercase tracking-wide text-gray-500"> Contactanos </span>
      
                <a href="tel:3242251037" class="block text-2xl font-medium text-gray-900 hover:opacity-75 sm:text-3xl">
                    3242251037
                </a>
              </p>
      
              
            </div>
      
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <p class="font-medium text-gray-900">Servicios</p>
      
                <ul class="mt-6 space-y-4 text-sm">
                  <li>
                    <a href="#inicio" class="text-gray-700 transition hover:opacity-75"> Inicio</a>
                  </li>
      
                  <li>
                    <a href="#servicios" class="text-gray-700 transition hover:opacity-75"> Servicios</a>
                  </li>
                  <li>
                    <a href="#comoFunciona" class="text-gray-700 transition hover:opacity-75"> Como funciona </a>
                  </li>
                  <li>
                    <a href="#mantenimiento" class="text-gray-700 transition hover:opacity-75"> Plan mantenimiento </a>
                  </li>
      
                  <li>
                    <a href="#contacto" class="text-gray-700 transition hover:opacity-75"> Contacto </a>
                  </li>
                </ul>
              </div>
      
              
          </div>
      
          <div class="mt-1 border-t border-gray-100 pt-12">
            <div class="sm:flex sm:items-center sm:justify-between">
         
      
              <p class="mt-1 text-xs text-gray-500 sm:mt-0">
                &copy; 2024. Victor Arango | Dev. Todos los derechos reservados.
              </p>
            </div>
          </div>
        </div>
      </footer>
</footer>