---
import Container from "./Container.astro"

---

<div id="contacto">
  <Container>
    <section class="location-section info-block relative bg-no-repeat px-3  bg-theme-light-gray bg-cover bg-center">
      <div class="container mx-auto z-20 relative">
        <div class="text-primary-color text-center">
          <p class="text-5xl text-center tracking-tight font-extrabold text-black my-12 sm:text-6xl xl:text-6xl">Contacto</p>
        </div>
        <div class="flex flex-wrap mt-8 items-stretch justify-center w-full">
          <div class="text-container  w-full lg:w-1/2 mt-1 lg:mt-0 text-center lg:text-left lg:pr-3 xl:pr-4">
          <div class="">
            <div class="w-full"><iframe title="Mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0258087939833!2d-75.57080572418398!3d6.260330626163942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428e49e897471%3A0xc7f56eea428ec495!2sCra.%2053%20%2361-27%2C%20La%20Candelaria%2C%20Medell%C3%ADn%2C%20La%20Candelaria%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses-419!2sco!4v1707077054905!5m2!1ses-419!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
           </div>
           </div>
            <div class="text-container  w-full lg:w-2/5 mt-1 lg:mt-0 text-center lg:text-left lg:pl-3 xl:pl-4">
            <h3 class="text-3xl font-extrabold tracking-tight text-gray-800">Eléctricos y refrigeración </h3>
            <div class="mt-4">
              <p class="mt-4 text-lg text-gray-800">Carrera 53 # 61 -27 </p>
<p class="text-lg text-gray-800 font-semibold">La Calendaria</p>
<p class="mt-4 pb-4 font-semibold text-gray-800">Telefono: <a class="underline text-primary-color" href="tel:3246318156">(+57) 3246318156</a></p>
<div class=" flex flex-wrap justify-center lg:justify-start pb-8"><a href="tel:3246318156" target="_self" class="button block button-primary " data-hover="Llamanos ahora"><span data-hover="Call Now">Llamanos ahora</span></a></div>
<h3 class="pb-4 text-1xl font-extrabold tracking-tight text-gray-800">Ofrecemos servicio en todo el área metropolitana del Valle de Aburrá, incluyendo Medellín, Envigado, Itagüí, Sabaneta, La Estrella, Bello, Copacabana, Girardota, Barbosa, Caldas y Envigado. Donde sea que estés, estamos aquí para ayudarte.</h3>
<h4 class="pb-4 text-2xl font-extrabold tracking-tight text-gray-800">Redes sociales</h4>
<div class="flex items-center  pb-4 justify-center lg:justify-start w-full md:w-auto">
          <div class="flex flex-wrap justify-center">
            <a href="https://www.facebook.com/electricidad.59/" target="_blank" class="bg-blue-700 rounded-lg text-white text-xs text-center self-center px-3 py-2 my-2 mx-2 inline-flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="20" height="20" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
              </svg> Facebook
          </a>
          <a href="https://wa.me/573246318156" target="_blank" class="bg-green-500 hover:bg-green-600 text-white rounded-lg text-xs text-center self-center px-3 py-2 my-2 mx-2 inline-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
              <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
            </svg> Whatsapp
          </a>
          
          </div>
          </div>
          </div>
          </div>
  </section>
  </Container>
</div>

