---
import Container from "./Container.astro"

---

<div id="contacto">
  <Container>
   
<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Title -->
    <p class="text-center text-sm font-bold uppercase">Reparaciónes y mantenimientos en 3 pasos</p>
    <h2 class="text-center text-3xl font-bold md:text-5xl">¿Cómo Funciona?</h2>
    <p class="mx-auto mb-8 mt-4 max-w-lg text-center text-sm text-[#636262] sm:text-base md:mb-12 lg:mb-16">Nuestro proceso de servicio es simple y transparente, para tu comodidad y tranquilidad:</p>
    <!-- Content -->
    <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-3 lg:gap-6">
      <!-- Item -->
      <div class="grid gap-4 rounded-md border border-solid border-[#cdcdcd] p-8 md:p-10">
        <div class="flex h-12 w-12 items-center justify-center rounded-full bg-[#f2f2f7]">
          <p class="text-sm font-bold sm:text-xl">1</p>
        </div>
        <p class="text-xl font-semibold"> Inspección</p>
        <p class="text-sm text-[#636262]">Ofrecemos un servicio de revisión por una suma de $50,000  donde se realiza un diagnóstico detallado de tu equipo.</p>
      </div>
      <!-- Item -->
      <div class="grid gap-4 rounded-md border border-solid border-[#cdcdcd] p-8 md:p-10">
        <div class="flex h-12 w-12 items-center justify-center rounded-full bg-[#f2f2f7]">
          <p class="text-sm font-bold sm:text-xl">2</p>
        </div>
        <p class="text-xl font-semibold">Cotización</p>
        <p class="text-sm text-[#636262]">Basado en el diagnóstico, te proporcionamos una cotización detallada para la reparación de tu equipo, con transparencia y sin sorpresas.</p>
      </div>
      <!-- Item -->
      <div class="grid gap-4 rounded-md border border-solid border-[#cdcdcd] p-8 md:p-10">
        <div class="flex h-12 w-12 items-center justify-center rounded-full bg-[#f2f2f7]">
          <p class="text-sm font-bold sm:text-xl">3</p>
        </div>
        <p class="text-xl font-semibold">Reparación o Mantenimiento</p>
        <p class="text-sm text-[#636262]">Una vez aprobada la cotización, procedemos con la reparación de tu equipo, utilizando repuestos de calidad y mano de obra especializada.</p>
      </div>
    </div>
  </div>
</section>
  </Container>
</div>

