---
import Container from "./Container.astro"

---

<div class="relative ">
  
  <Container>
    <section id="servicios">
      <div class="relative  pb-32 overflow-hidden">
      
      <p class="text-5xl text-center tracking-tight font-extrabold text-black my-12 sm:text-6xl xl:text-6xl">Nuestros servicios</p>
      <div class="relative">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
      <div>
      <div>

      </div>
      <div class="mt-6">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-800">Reparación y Mantenimiento de Neveras y Nevecones</h2>
      <p class="mt-4 text-lg text-gray-500">
        En nuestro servicio especializado, nos dedicamos a brindar soluciones integrales para garantizar el óptimo funcionamiento de tus neveras y nevecones en Medellín. Nuestro equipo de técnicos altamente capacitados se encarga de diagnosticar y solucionar cualquier problema que puedan presentar tus electrodomésticos, asegurando un rendimiento eficiente y duradero. Ya sea una reparación puntual o un mantenimiento preventivo, estamos aquí para ofrecerte el mejor servicio y cuidado para tus equipos de refrigeración.
      </p>
      <div class="mt-6">
      <a href="https://wa.me/573246318156" target="_blank" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">Contactanos</a>
      </div>
      </div>
      </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
      <div class="p-4 max-w-xl mx-auto lg:px-0 lg:m-0 lg:relative lg:h-full ">
        <img class="h-auto max-w-full rounded-lg ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto " src="./images/nevecon.jpg" alt="imagen de refrigerador">
      </div>
      </div>
      </div>
      </div>
      <div class="mt-24">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
      <div>
      <div>
     
      </div>
      <div class="mt-6">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-800">
        Reparación y Mantenimiento de Lavadoras y secadoras
      </h2>
      <p class="mt-4 text-lg text-gray-500">
        Nuestro equipo especializado ofrece servicios integrales de reparación y mantenimiento para lavadoras y secadoras, asegurando un funcionamiento óptimo y prolongando la vida útil de estos electrodomésticos esenciales. Realizamos diagnósticos precisos para identificar cualquier problema, desde fugas hasta fallos en los sistemas de lavado o secado, y llevamos a cabo las reparaciones necesarias con piezas de calidad y técnicas avanzadas. 
      </p>
      <div class="mt-6">
      <a href="https://wa.me/573246318156" target="_blank"class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">Contactanos</a>
      </div>
      </div>
      </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
      <div class="p-4 max-w-xl mx-auto lg:px-0 lg:m-0 lg:relative lg:h-full overflow-hidden rounded-lg ">
      <img class="h-auto max-w-full rounded-lg ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto object-contain " src="./images/Lavado.jpg" alt="imagen lavadora" >
      </div>
      </div>
      </div>
      </div>
      <div class="relative mt-24">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
      <div>
      <div>
      
      </div>
      <div class="mt-6">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-800">Reparación y Mantenimiento de Aires Acondicionados y Cuartos Fríos</h2>
      <p class="mt-4 text-lg text-gray-500">
        Ofrecemos servicios completos de reparación y mantenimiento para todo tipo de aires acondicionados. Ya sea que necesites solucionar problemas de enfriamiento, limpiar filtros o reparar componentes, nuestro equipo de expertos está listo para ayudarte. Garantizamos un servicio rápido, confiable y a precios competitivos para mantener tus espacios frescos y cómodos en cualquier momento del año.</p>
      <div class="mt-6">
      <a href="https://wa.me/573246318156" target="_blank" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">Contactanos</a>
      </div>
      </div>
      </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
      <div class="p-4 max-w-xl mx-auto lg:px-0 lg:m-0 lg:relative lg:h-full">
      <img class="w-full rounded-xl ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="./images/aire-acondicionado.jpg" alt="">
      
      </div>
      </div>
      </div>
      </div>
      <div class="mt-24">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
      <div>
      <div>
      </div>
      <div class="mt-6">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-800">
        Reparación y Mantenimiento de Calentadores de Red de Gas Natural
      </h2>
      <p class="mt-4 text-lg text-gray-500">
        Nuestro equipo especializado ofrece servicios integrales de reparación y mantenimiento para todo tipo de calentadores. Desde ajustes menores hasta reparaciones importantes, estamos aquí para asegurarnos de que tu sistema de calefacción funcione de manera óptima en todo momento. Confía en nosotros para mantener tu hogar o negocio cálido y confortable durante los meses más fríos del año.
      </p>
        <div class="mt-6">
      <a href="https://wa.me/573246318156" target="_blank" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">Contactanos</a>
      </div>
      </div>
      </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
      <div class="p-4 max-w-xl mx-auto lg:px-0 lg:m-0 lg:relative lg:h-full overflow-hidden rounded-lg bg-cover bg-no-repeat object-cover">
      <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none object-cover" src="./images/calentador.jpg" alt="" loading="lazy">
      </div>
      </div>
      </div>
      </div>
      <div class="relative mt-24">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
      <div>
      <div>
     
      </div>
      <div class="mt-6">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-800">Instalación de Redes Eléctricas Residenciales, Comerciales e Industriales</h2>
      <p class="mt-4 text-lg text-gray-500">
        Nuestro equipo altamente capacitado se especializa en la instalación de redes eléctricas tanto en entornos industriales como comerciales. Nos encargamos de diseñar e implementar sistemas eléctricos eficientes y seguros, adaptados a las necesidades específicas de cada cliente. Ya sea para una nueva construcción, una renovación o una expansión, estamos comprometidos a proporcionar soluciones de alta calidad que cumplan con los estándares más exigentes. Confía en nosotros para garantizar un suministro eléctrico confiable y seguro para tu negocio.</p>
      <div class="mt-6">
      <a href="https://wa.me/573246318156" target="_blank" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">Contactanos</a>
      </div>
      </div>
      </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
      <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
      <img class="h-auto max-w-full rounded-lg ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto object-contain " src="./images/electrico.jpg" alt="" loading="lazy">
      </div>
      </div>
      </div>
      </div>
      </div>

        <div class="mt-24">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
        <div>
       
        </div>
        <div class="mt-6">
        <h2 class="text-3xl font-extrabold tracking-tight text-gray-800">
          Servicios Profesionales de Citófonos: Reparación e Instalación
        </h2>
        <p class="mt-4 text-lg text-gray-500">
          Ofrecemos servicios profesionales de reparación e instalación de citófonos para garantizar la seguridad y comodidad en su hogar o negocio. Nuestro equipo experto realiza diagnósticos precisos para resolver cualquier problema con su sistema de intercomunicación, desde fallos en la conexión hasta problemas de audio. Además, nos encargamos de la instalación de nuevos citófonos, asegurando una configuración adecuada y funcionalidad óptima. Con nuestra atención personalizada y soluciones eficientes, puede confiar en nosotros para satisfacer sus necesidades de comunicación y seguridad.        </p>
        <div class="mt-6">
        <a href="https://wa.me/573246318156" target="_blank"class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">Contactanos</a>
        </div>
        </div>
        </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
        <div class="p-4 max-w-xl mx-auto lg:px-0 lg:m-0 lg:relative lg:h-full">
        <img class="w-full rounded-xl ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="./images/citofono.jpg" alt="imagen lavadora" >
        </div>
        </div>
        </div>
        </div>
        <div class="relative mt-24">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
        <div>
        
        </div>
      
      </section>
  </Container>
</div>