---
import Container from "./Container.astro"

---

<div id="features">
  <Container>
    
<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Title -->
    <h2 class="mb-8 text-center text-3xl font-bold md:mb-12 md:text-5xl lg:mb-16">¿Por qué elegirnos?</h2>
    <!-- Content -->
    <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-3 md:gap-4 lg:gap-6">
      <!-- Item -->
      <div class="relative p-8 md:p-10">
        <h3 class="mb-4 text-3xl font-bold md:text-4xl">Experiencia</h3>
        <p class="text-sm text-[#636262]">Nuestro equipo cuenta con años de experiencia en la industria, asegurando resultados confiables y profesionales.</p>
        <div class="absolute right-0 top-[29%] hidden h-2/5 [border-right:1px_solid_rgb(230,_230,_230)] md:block"></div>
      </div>
      <!-- Item -->
      <div class="relative p-8 md:p-10">
        <h3 class="mb-4 text-3xl font-bold md:text-4xl">Servicio  Personalizado</h3>
        <p class="text-sm text-[#636262]">Nos adaptamos a las necesidades individuales de cada cliente, brindando soluciones específicas y atención personalizada.</p>
        <div class="absolute right-0 top-[29%] hidden h-2/5 [border-right:1px_solid_rgb(230,_230,_230)] md:block"></div>
      </div>
      <!-- Item -->
      <div class="p-8 md:p-10">
        <h3 class="mb-4 text-3xl font-bold md:text-4xl">Resultados Comprobados</h3>
        <p class="text-sm text-[#636262]">Miles de clientes satisfechos respaldan nuestros servicios, con revisiones y mantenimientos exitosos que garantizan la calidad y eficiencia.</p>
      </div>
    </div>
  </div>
</section>                    
  </Container>
</div>