---
import Container from "./Container.astro"

---

<div id="features">
  <Container>
    <div class="md:w-2/4 lg:w-1/2">      
      <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
       
        Ultimos serviciós
      </h2>
    </div>
    <div
      class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4">
    </div>
        <!--Parent div-->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
          <!--First card-->
          <div class="md:p-8 p-2 bg-white">
            <!--Banner image-->
            <img
              class="rounded-lg w-full"
              src="./images/Instalacion-red-electrica.jpg"
              alt="imagen instalación red electrica"
            />
    
            <!--Tag-->
            <p class="text-indigo-500 font-semibold text-base mt-2">Instalación</p>
            <!--Title-->
            <h1
              class="font-semibold text-gray-900 leading-none text-xl mt-1 capitalize truncate"
            >
            Instalación de Panel Eléctrico y Red Eléctrica
            </h1>
            <!--Description-->
            <div class="max-w-full">
              <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
                Se completó la instalación del panel eléctrico y la red eléctrica con meticulosidad y atención a los detalles. Esto involucró la colocación adecuada del panel eléctrico según las normativas y especificaciones técnicas correspondientes, asegurando una distribución segura y eficiente de la energía eléctrica en el edificio o instalación. Además, se tendió la red eléctrica con cables de alta calidad y se establecieron conexiones precisas para garantizar un suministro eléctrico estable y confiable en todo el espacio. Esta instalación no solo proporciona la infraestructura necesaria para el funcionamiento eléctrico seguro del lugar, sino que también sienta las bases para un sistema eléctrico duradero y de alto rendimiento.              </p>
            </div>
           
          </div>
          <!--End of first card-->
          <!--First card-->
          <div class="md:p-8 p-2 bg-white">
            <!--Banner image-->
            <img
              class="rounded-lg w-full"
              src="./images/Nevecon-reparacion y mantenimiento.jpg"
              alt="imagen cambio de motor nevera"
            />
    
            <!--Tag-->
            <p class="text-indigo-500 font-semibold text-base mt-2">Mantenimiento & Reparación</p>
            <!--Title-->
            <h1
              class="font-semibold text-gray-900 leading-none text-xl mt-1 capitalize truncate"
            >
            Cambio de Motor y Mantenimiento de Nevera
            </h1>
            <!--Description-->
            <div class="max-w-full">
              <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
                Se realizó un cambio de motor y un mantenimiento completo en la nevera para asegurar su óptimo funcionamiento. Durante el proceso, se retiró el motor defectuoso y se instaló uno nuevo, de alta calidad y eficiencia energética. Además, se llevó a cabo una limpieza profunda de los componentes internos, como los serpentines y el sistema de evaporación, eliminando cualquier acumulación de suciedad y garantizando una refrigeración eficaz. Asimismo, se verificaron y ajustaron los niveles de refrigerante según las especificaciones del fabricante para maximizar el rendimiento del sistema de enfriamiento. Este servicio integral no solo restaura la funcionalidad de la nevera, sino que también prolonga su vida útil y asegura un almacenamiento seguro de alimentos a temperaturas óptimas.              </p>
            </div>
           
          </div>
          <!--End of first card-->
          <!--First card-->
          <div class="md:p-8 p-2 bg-white">
            <!--Banner image-->
            <img
              class="rounded-lg w-full"
              src="./images/Electricidad.jpg"
              alt="imagen instalación red electrica"
            />
    
            <!--Tag-->
            <p class="text-indigo-500 font-semibold text-base mt-2">Instalación</p>
            <!--Title-->
            <h1
              class="font-semibold text-gray-900 leading-none text-xl mt-1 capitalize truncate"
            >
            Instalación de Luces de Ambiente
            </h1>
            <!--Description-->
            <div class="max-w-full">
              <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
                Recientemente se llevó a cabo la instalación de luces de ambiente para realzar la atmósfera de los espacios interiores. Este proceso implicó la colocación estratégica de luces LED o regulables en diferentes áreas del hogar. Se seleccionaron cuidadosamente los tonos de luz y los puntos de iluminación para crear efectos visuales que complementen el estilo y la función de cada ambiente. Además, se instaló un sistema de control adecuado, como interruptores inteligentes o dispositivos de domótica, para ajustar la intensidad y el color de las luces según las preferencias del usuario. Esta instalación no solo añade un toque de elegancia y modernidad al espacio, sino que también mejora el bienestar y la experiencia de los ocupantes al crear ambientes acogedores y personalizados para cada ocasión.              </p>
            </div>
           
          </div>
          <!--End of first card-->
          <!--First card-->
          <div class="md:p-8 p-2 bg-white">
            <!--Banner image-->
            <img
              class="rounded-lg w-full"
              src="./images/Lavadora-reparacion.jpg"
              alt="imagen reparación lavadora"
            />
    
            <!--Tag-->
            <p class="text-indigo-500 font-semibold text-base mt-2">Instalación</p>
            <!--Title-->
            <h1
              class="font-semibold text-gray-900 leading-none text-xl mt-1 capitalize truncate"
            >
            Manteminiento y Reparación Lavadora
            </h1>
            <!--Description-->
            <div class="max-w-full">
              <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
                El equipo técnico llevó a cabo una reparación completa en la lavadora, abordando tanto aspectos mecánicos como eléctricos. Se realizaron diagnósticos exhaustivos para identificar y solucionar problemas como fugas, ruidos anormales o mal funcionamiento de componentes clave. Además, se reemplazaron piezas desgastadas y se ajustaron los sistemas de lavado y centrifugado para restaurar el funcionamiento óptimo de la lavadora. Este proceso de reparación no solo asegura un rendimiento confiable del electrodoméstico, sino que también prolonga su vida útil, garantizando la eficiencia y efectividad en cada ciclo de lavado.
              </p>
            </div>
           
          </div>
          <!--End of first card-->
          <!--First card-->
          <div class="md:p-8 p-2 bg-white">
            <!--Banner image-->
            <img
              class="rounded-lg w-full"
              src="./images/Aire-exterior.jpg"
              alt="imagen instalación aire acondicionado"
            />
    
            <!--Tag-->
            <p class="text-indigo-500 font-semibold text-base mt-2">Mantenimiento & Reparación</p>
            <!--Title-->
            <h1
              class="font-semibold text-gray-900 leading-none text-xl mt-1 capitalize truncate"
            >
            Instalación de Aire Acondicionado Exterior

            </h1>
            <!--Description-->
            <div class="max-w-full">
              <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
                Se llevó a cabo la instalación del aire acondicionado exterior con precisión y cuidado meticuloso. Durante el proceso, se seleccionó la ubicación adecuada para el equipo exterior, considerando factores como la accesibilidad, la estabilidad estructural y el flujo de aire óptimo. Se realizaron las conexiones eléctricas necesarias y se aseguraron de acuerdo con las normativas de seguridad vigentes. Además, se montaron correctamente las unidades exteriores y se ajustaron para garantizar un rendimiento eficiente y silencioso. Esta instalación no solo proporciona un sistema de enfriamiento confiable y eficaz, sino que también mejora el confort y la calidad del aire en el espacio interior, creando un ambiente agradable y confortable durante todo el año.              </p>
            </div>
           
          </div>
          <!--End of first card-->
          <!--First card-->
          <div class="md:p-8 p-2 bg-white">
            <!--Banner image-->
            <img
              class="rounded-lg w-full"
              src="./images/aire-interior.jpg"
              alt="Imagen instalación aire acondicionado"
            />
    
            <!--Tag-->
            <p class="text-indigo-500 font-semibold text-base mt-2">Instalación</p>
            <!--Title-->
            <h1
              class="font-semibold text-gray-900 leading-none text-xl mt-1 capitalize truncate"
            >
            Instalación de Aire Acondicionado Interior
            </h1>
            <!--Description-->
            <div class="max-w-full">
              <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
                Se ha completado con éxito la instalación del sistema de aire acondicionado interior, garantizando un ambiente fresco y confortable en el interior de la vivienda o el espacio comercial. Durante el proceso, se seleccionó cuidadosamente la ubicación más adecuada para la unidad interior, considerando factores como la distribución del espacio, la circulación del aire y la estética general del ambiente. Se realizaron las conexiones eléctricas de manera segura y conforme a los estándares de seguridad vigentes. Además, se montaron correctamente las unidades interiores, asegurando un flujo de aire óptimo y un funcionamiento eficiente del sistema. Esta instalación no solo proporciona un clima interior agradable y controlado, sino que también mejora la calidad del aire y el confort de los ocupantes, creando un ambiente propicio para el bienestar y la productividad.              </p>
            </div>
           
          </div>
          <!--End of first card-->
    
      
    
          </div>
        
        </div>
       
   
                                    
  </Container>
</div>