---
import Container from "./Container.astro"



---

<div class="relative" id="inicio">
    <Container>
		  <div class="mt-9 mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
		    <!-- Component -->
		    <div class="grid grid-cols-1 items-center justify-items-start gap-8 sm:gap-20 lg:grid-cols-2">
		      <!-- Hero Content -->
		      <div class="flex flex-col">
		        <!-- Hero Title -->
		        <h1 class="mb-4 text-4xl font-bold md:text-6xl">  Revisión, Mantenimiento y Reparación </h1>
		        <p class="mb-6 max-w-lg text-base text-[#636262] md:mb-10 lg:mb-12">  ¡Mantenimiento y reparación de electrodomésticos a domicilio! ❄️️ Reparamos neveras, nevecones, lavadoras, secadoras y aires acondicionados de todas las marcas. </p>
		        <!-- Hero Button -->
		        <div class="flex items-center">
		          <a 
                  class="mt-4 inline-flex items-center justify-center w-full px-6 py-3 font-medium text-center text-white duration-200 bg-indigo-600 focus:outline-none custom-blur focus-visible:outline-black focus-visible:ring-black hover:bg-indigo-100 hover:border-white hover:text-indigo-600 lg:w-auto md:w-auto rounded-xl"
                  href="#_">Contactanos ahora     →</a>
		        </div>
		      </div>
		      <!-- Hero Image -->
		      <img src="./images/products/image1.jpg" alt="" class="inline-block h-full w-full max-w-[640px]" />
		    </div>
		  </div>
      <div class="mt-0 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
        <div class="p-4  transition duration-200 hover:grayscale-0">
            <img src="./images/clients/centrales.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
          </div>
        <div class="p-4  transition duration-200 hover:grayscale-0">
          <img src="./images/clients/samsung.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 flex  transition duration-200 hover:grayscale-0">
          <img src="./images/clients/mabe.svg" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4  transition duration-200 hover:grayscale-0">
            <img src="./images/clients/lg.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
          </div>
          <div class="p-4 flex  transition duration-200 hover:grayscale-0">
            <img src="./images/clients/general-electrics.svg" class="h-8 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
          </div>
        <div class="p-4  transition duration-200 hover:grayscale-0">
            <img src="./images/clients/challenger.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
      </div>






    </Container>
</div>

