---
import Container from "./Container.astro"



---

<div class="relative" id="inicio">
    <Container>
      <section class="relative flex items-center w-full bg-white md:h-screen">
        <div class="relative items-center w-full px-5 py-24 mx-auto lg:px-16 lg:py-36 max-w-7xl md:px-12">
          <div class="relative flex-col items-start m-auto align-middle">
            <div class="grid grid-cols-1 gap-6 lg:gap-24 lg:grid-cols-2">
              <div class="relative items-center gap-12 m-auto lg:inline-flex">
                <div class="max-w-xl text-center lg:text-left">
                  <div>
                    
                    <div class="py-6"></div>
                    <span class="w-auto px-4 py-2 mt-10 rounded-full bg-teal-500/10"><span class="text-xs text-teal-500">Servicio rápido, eficaz y sin salir de casa.</span></span>
                    <h1 class="mt-8 text-3xl font-semibold tracking-tighter lg:text-6xl text-slate-900">
                      ¡Mantenimiento de neveras, lavadoras y secadoras a domicilio! ❄️️
                    </h1>
                    <p class="max-w-xl mt-4 text-lg tracking-tight lg:text-xl text-slate-500">
                      Ofrecemos servicio técnico a domicilio.

                    </p>
                  </div>
                  
                </div>
              </div>
              <div class="block w-full p-8 mt-12 bg-slate-200 lg:mt-0 rounded-3xl">
                  <video
          class="object-cover object-center w-full h-full mx-auto lg:ml-auto rounded-2xl"
          autoplay
          muted
          src="/Image.mp4"></video> 
              </div>
            </div>
          </div>
        </div>
      </section>
    </Container>
</div>

