---
import Container from "./Container.astro";

---

<div id="solution">
    <Container>
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="./images/banner.jpg"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">

            ¡Agenda ahora tu cita para la revisión de tu electrodoméstico!          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            En nuestra empresa nos especializamos en brindar un servicio de calidad para una amplia gama de electrodomésticos. Ya sea que necesites revisar tu lavadora, nevera, nevecón, aire acondicionado, cuarto frío, calentador de red de gas natural, citófono, o cualquier servicio relacionado con electricidad residencial, industrial o comercial, ¡nosotros estamos aquí para ayudarte!          </p>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Nuestro equipo de técnicos altamente capacitados y con experiencia se asegurará de que tu electrodoméstico funcione de manera óptima y eficiente. No dejes pasar más tiempo sin atender esas pequeñas fallas que podrían convertirse en problemas mayores.          </p>
          
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Agendar tu cita es muy sencillo. Solo contáctanos a través de nuestros canales de comunicación y te atenderemos de inmediato. No te preocupes por los horarios, estamos disponibles para adaptarnos a tus necesidades.          
          <p class="my-8 text-gray-600 dark:text-gray-300">
            No esperes más y asegúrate de que tus electrodomésticos estén en las mejores condiciones. ¡Agenda tu cita ahora y deja que nosotros nos encarguemos del resto!          
        </div>
      </div>
    </Container>
</div>
