---
import Container from "./Container.astro";

---

<div id="solution">
    <Container>    

<!-- Section Facts -->

 
    <h2 class="mb-12 text-center text-3xl font-bold md:text-5xl">Nuestros servicios</h2>




<section>
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <div class="flex flex-col items-start gap-8 sm:gap-20 lg:flex-row-reverse lg:items-center">
      <div class="lg:w-1/2">
        <h2 class="mb-4 max-w-3xl text-3xl font-bold md:text-5xl">Mantenimiento De Neveras Y Nevecones</h2>
        <p class="mb-6 max-w-lg text-sm text-[#636262] sm:text-base md:mb-10 lg:mb-12">Nuestro servicio de Mantenimiento de Neveras y Nevecones garantiza el funcionamiento óptimo de tus electrodomésticos. Con años de experiencia y un equipo de técnicos expertos, nos dedicamos a mantener tus equipos en condiciones ideales, prolongando su vida útil y asegurando tu tranquilidad. Desde la limpieza exhaustiva hasta la reparación de componentes, estamos aquí para cuidar de tus neveras y nevecones con profesionalismo y eficiencia. ¡Confía en nosotros para mantener tus alimentos frescos y tus electrodomésticos en perfecto estado!</p>
        <a href="#" class="inline-flex items-center -mx-1 text-sm text-blue-500 capitalize transition-colors duration-300 transform dark:text-blue-400 hover:underline hover:text-blue-600 dark:hover:text-blue-500">
          <span class="mx-1">Contactanos</span>
          <svg class="w-4 h-4 mx-1 rtl:-scale-x-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </a>
      </div>
      <div class="lg:w-1/2">
        <img src="/public/images/products/nevera.jpg" alt="" />
      </div>
    </div>
  </div>

   <!-- Container -->
   <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component -->
    <div class="flex flex-col items-start gap-8 sm:gap-20 lg:flex-row lg:items-center">
      <div class="lg:w-1/2">
        <h2 class="mb-4 max-w-3xl text-3xl font-bold md:text-5xl">Reparación y mantenimiento de lavadoras</h2>
        <p class="mb-6 max-w-lg text-sm text-[#636262] sm:text-base md:mb-10 lg:mb-12">Nuestra empresa se especializa en la Reparación y Mantenimiento de Lavadoras, ofreciendo soluciones confiables y eficientes para garantizar el funcionamiento óptimo de tus electrodomésticos. Con un equipo de técnicos calificados y un enfoque centrado en la calidad del servicio, nos comprometemos a resolver cualquier problema que pueda surgir con tu lavadora. Desde reparaciones urgentes hasta programas de mantenimiento preventivo, estamos aquí para brindarte tranquilidad y asegurar el rendimiento duradero de tu equipo. Confía en nosotros para mantener tus prendas limpias y tu hogar en funcionamiento sin contratiempos.</p>
        <a href="#" class="inline-flex items-center -mx-1 text-sm text-blue-500 capitalize transition-colors duration-300 transform dark:text-blue-400 hover:underline hover:text-blue-600 dark:hover:text-blue-500">
          <span class="mx-1">Contactanos</span>
          <svg class="w-4 h-4 mx-1 rtl:-scale-x-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </a>
        </div>
      <div class="lg:w-1/2">
        <img src="/public/images/products/lavadora.webp" alt="" />
      </div>
    </div>
  </div>

  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <div class="flex flex-col items-start gap-8 sm:gap-20 lg:flex-row-reverse lg:items-center">
      <div class="lg:w-1/2">
        <h2 class="mb-4 max-w-3xl text-3xl font-bold md:text-5xl">Reparación y mantenimiento de secadoras</h2>
        <p class="mb-6 max-w-lg text-sm text-[#636262] sm:text-base md:mb-10 lg:mb-12">Somos tu aliado confiable en la Reparación y Mantenimiento de Secadoras, comprometidos a mantener tus prendas secas y tu hogar funcionando sin problemas. Nuestro equipo de técnicos especializados cuenta con la experiencia y habilidades necesarias para abordar cualquier problema que pueda surgir con tu secadora, desde fallas mecánicas hasta problemas de temperatura. Ya sea una reparación urgente o un mantenimiento preventivo, estamos aquí para brindarte soluciones rápidas y efectivas. Confía en nosotros para mantener tus prendas frescas y tu rutina diaria sin interrupciones.</p>
        <a href="#" class="inline-flex items-center -mx-1 text-sm text-blue-500 capitalize transition-colors duration-300 transform dark:text-blue-400 hover:underline hover:text-blue-600 dark:hover:text-blue-500">
          <span class="mx-1">Contactanos</span>
          <svg class="w-4 h-4 mx-1 rtl:-scale-x-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </a>
      </div>
      <div class="lg:w-1/2">
        <img src="/public/images/products/secadoras.webp" alt="" />
      </div>
    </div>
  </div>

  
   <!-- Container -->
   <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <!-- Component -->
    <div class="flex flex-col items-start gap-8 sm:gap-20 lg:flex-row lg:items-center">
      <div class="lg:w-1/2">
        <h2 class="mb-4 max-w-3xl text-3xl font-bold md:text-5xl">Reparación y mantenimiento de aires acondicionados</h2>
        <p class="mb-6 max-w-lg text-sm text-[#636262] sm:text-base md:mb-10 lg:mb-12">En nuestro servicio de Reparación y Mantenimiento de Aires Acondicionados, nos comprometemos a mantener tu hogar o negocio fresco y confortable durante todo el año. Nuestro equipo de técnicos altamente capacitados está listo para abordar cualquier problema que pueda surgir con tu sistema de aire acondicionado, desde problemas de refrigeración hasta fallos en el sistema eléctrico. Ya sea una reparación urgente o un mantenimiento preventivo, estamos aquí para brindarte soluciones rápidas y confiables. Confía en nosotros para mantener tu ambiente interior agradable y tu comodidad sin preocupaciones.</p>
        <a href="#" class="inline-flex items-center -mx-1 text-sm text-blue-500 capitalize transition-colors duration-300 transform dark:text-blue-400 hover:underline hover:text-blue-600 dark:hover:text-blue-500">
          <span class="mx-1">Contactanos</span>
          <svg class="w-4 h-4 mx-1 rtl:-scale-x-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </a>
        </div>
      <div class="lg:w-1/2">
        <img src="/public/images/products/aire-acondicionado.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
    </Container>
</div>

