---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
    <div class="relative pt-24 ml-auto"> 
      <section class="relative h-screen flex flex-col items-center justify-center text-center text-white ">
        <div class="absolute top-0 left-0 w-full h-full overflow-hidden bg-black opacity-50">
            <img class="min-w-full min-h-full absolute object-cover"
            src="./images/atencion.jpeg">
        </div>
        <div class="video-content space-y-2 z-10">
            <p class="font-light text-6xl">Elécticos y Refrigeración</p>
            <h3 class="font-light text-3xl">Contactanos!</h3>
        </div>
    </section>
    </div>

  
    
</div>